/*------Movie page*/

body,
html {
  background-color: #171717;
  font-family: "Source Sans 3";
  font-size: large;
  font-weight: 400;
}

.movie {
  position: relative;
  min-height: 100vh;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
}

@media (min-width: 768px) {
  .movie {
    padding: 50px;
    justify-content: left;
    align-items: flex-start;
  }
}

.movie:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.movie,
.movie:before {
  width: 100%;
  overflow: auto;
}

.details {
  position: relative;
  width: 100%;
  height: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: left;
  color: #fff;
}

@media (min-width: 768px) {
  .details {
    flex-wrap: wrap;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 320px) {
  .details {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .desc,
  .poster {
    min-width: 100px;
    max-width: 400px;
    height: auto;
    margin: 0 20px;
    float: right;
  }
}
@media (min-width: 320px) {
  .desc,
  .poster {
    width: 90%;
  }
}

img {
  width: 100%;
  height: 100%;
}

.desc_heading {
  margin: 20px 0;
  font-family: "Roboto Mono";
}

.desc_text_short {
  font-family: "Source Sans 3";
  font-style: italic;
  background: #1c26ad;
  color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 2px 10px;
  margin: 5px 0px;
  border-radius: 15px;
}

.desc_text {
  font-family: "Source Sans 3";
}

.genres {
  margin: 10px 0;
  display: flex;
  flex-wrap: column wrap;
  flex-direction: column;
}

.genre {
  background: #d61e1e;
  color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 2px 10px;
  margin: 5px 10px;
  border-radius: 5px;
}
.genre {
  display: inline-block;
  margin: 10px 0;
}
