* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #171717;
  font-family: "Source Sans 3";
  font-size: large;
  font-weight: 400;
}

html {
  display: block;
}

head {
  display: none;
}

div {
  display: block;
}

.header {
  position: relative;
  width: 100%;
  height: 40vh;
  background: url(/src/Components/images/superman-nawpic-7-e1606425926406.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: bgPosition 30s linear infinite;
}

@keyframes bgPosition {
  0% {
    background-position: 0% 50%; /* Start at top center */
  }
  50% {
    background-position: 0% 100%; /* Move to bottom center */
  }
  100% {
    background-position: 0% 50%; /* Back to top center */
  }
}

.header-content {
  position: relative;
  height: 100%;
  padding: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: 2;
}

@media (min-width: 360px) {
  .header-content {
    padding: 10px;
  }
}

.header-content-text {
  text-align: center;
  line-height: 4rem;
}

.header-form-content {
  width: 100%;
  margin: 20px 0;
}

.header-form-control {
  display: grid;
  grid-template-columns: 5fr 2fr;
  height: 4rem;
  margin: 10px;
  padding: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(97, 9, 121, 0.8519782913165266) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50px;
}

@media (max-width: 360px) {
  .header-form-control {
    grid-template-columns: 1fr;
    height: auto;
    padding: 10px;
    background: transparent;
  }
}
@media (max-width: 499px) {
  .header-form-control {
    height: 60px;
    grid-template-columns: 5fr 2fr;
    padding: 10px;
    background: transparent;
  }
}

@media (min-width: 500px) {
  .form__control {
    grid-template-columns: 5fr 1fr;
  }
}

@media (min-width: 361px) and (max-width: 392px) {
  .header-content {
    padding-top: 20px;
  }
  h1 {
    padding-top: 19px;
  }
}

@media (max-width: 360px) {
  .header-form-control > * {
    height: 40px;
  }
}

.form_text {
  padding: 0 30px;
  background: #fff;
  border-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.form_element {
  height: 100%;
  border: transparent;
  outline: none;
  font-size: calc(5px + 2vmin);
}

@media (max-width: 360px) {
  .form_element {
    height: 50px;
  }
}

.form_btn {
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  background: transparent;
}

.form__element {
  height: 100%;
  background: transparent;
  border: transparent;
  outline: none;
  font-size: calc(5px + 2vmin);
}

@media (max-width: 360px) {
  .form_btn {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(97, 9, 121, 0.8519782913165266) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    border-radius: 20px;
  }
}

@media (max-width: 499px) {
  .form_btn {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(97, 9, 121, 0.8519782913165266) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    border-radius: 20px;
  }
}

.header:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 9%, 0.7333333333333333);
}

.bottom-container {
  margin: auto;
  padding: 20px;
  background: #171717;
}

.category,
.wrapper {
  margin: 0 auto 4rem;
}

@media (min-width: 500px) {
  .category,
  .wrapper {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .category,
  .wrapper {
    width: 85%;
  }
}

@media (min-width: 850px) {
  .category,
  .wrapper {
    width: 100%;
  }
}

.category-head {
  display: flex;
  justify-content: space-between;
  font-family: "Source Sans Pro";
  color: #fff;
}

.category-title {
  position: relative;
}

.category-title:after {
  position: absolute;
  content: "";
  width: 150%;
  margin-bottom: 2px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(97, 9, 121, 0.8519782913165266) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.category-link {
  padding: 0.4rem 1.2rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease-in;
  border-radius: 40px;
}

.category-link:hover {
  background-color: #3876c7;
}

.grid {
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
  justify-content: center !important;
}

@media (min-width: 320px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 850px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.movieCard {
  position: relative;
  height: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Source Sans Pro";
  padding-top: 5px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(97, 9, 121, 0.8519782913165266) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 8px;
  justify-self: center;
}

.movieCard-poster {
  height: auto;
}

img {
  width: 100%;
  height: 100%;
}

.movie-link {
  height: 50%;
  text-decoration: none;
  color: #fff;
}

.movieCard-details {
  width: 100%;
  height: auto;
  padding: 5px;
}
